* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

.section-header {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  background: #fff;
  padding-right: 21px;
  padding-top: 25px;
}

#nav-background {
  background-image: url(images/mobile-menu-1.svg), url(images/mobile-img.svg),
    url(images/mobile_menu.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top, 80% 20%, center bottom;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  padding-top: 100px;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  list-style: none;
  padding-right: 20px;
  margin: 20px 0;
}

.nav-underline {
  list-style: none;
  padding-right: 20px;
}

.nav-underline a {
  text-decoration: none;
  color: #1a2236;
  font-size: 1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.nav-link a {
  text-decoration: none;
  color: #1a2236;
  font-size: 1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #1a2236;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.header-name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin: 106px 84px 16px 16px;
}

.header-text {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin: 20px 16px 40px 16px;
}

.button {
  color: #fff;
  outline: none;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding: 15px 20px;
  border: 1px solid #1a2236;
  cursor: pointer;
  font-size: 18px;
  margin: 50px 16px 40px 16px;
  background: linear-gradient(to left, #1a2236 50%, #fff 50%);
  background-position: right top;
  background-size: 200% 100%;
  transition: all ease 0.5s;
}

.button:hover {
  background-color: transparent;
  border: 1px solid #1a2236;
  color: #1a2236;
  background-position: left top;
}

.button:focus {
  background-color: transparent;
  border: 2px solid #1a2236;
  color: #1a2236;
  transition: all 0.5s ease-out;
}

.section-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 40px 16px;
  height: 200px;
  width: 486px;
  max-width: 100%;
  top: 50px;
}

.works {
  padding-top: 150px;
  width: 100%;
}

.rotate-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-left: 16px;
}

.card-wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photos {
  width: 375px;
  max-width: 100%;
  height: auto;
}

.text {
  background-color: #1a2236;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.about-header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-top: 56px;
  margin-left: 16px;
  margin-bottom: 20px;
}

.about-text {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

h2 {
  font-family: "Poppins", serif;
  font-weight: 300;
  text-align: left;
  font-size: 1.5rem;
  margin: 20px 0 20px 18px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

.sub-list {
  background-color: #98dede;
  color: #1a2236;
  padding: 3px 5px;
  border: 1px solid #98dede;
  margin-left: 20px;
}

.button-card {
  border: 2px solid #fff;
  padding: 20px 20px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
  margin-bottom: 18px;
  cursor: pointer;
  width: 212px;
  height: 67px;
}

.button-card:hover {
  background-color: #fff;
  color: #1a2236;
  border-radius: 1px solid #1a2236;
}

.img-btn {
  width: 20px;
  margin-left: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 30px;
}

.cards {
  color: #fff;
  font-weight: bold;
  margin: 10px 10px;
  padding: 50px 0;
}

#box-1 {
  background-color: #1c528a;
}

#box-2 {
  background-color: #e2505c;
}

#box-3 {
  background-color: #febf52;
  margin-bottom: 20px;
}

.skills {
  margin-left: 100px;
}

.skills-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.lists {
  padding: 20px 0;
}

.lists li {
  font-size: 1.2rem;
}

.background {
  position: absolute;
  right: 10px;
  margin-top: -46px;
}

.contact {
  background-color: #f9f9fa;
  background-image: url("images/shape-1.png");
  background-repeat: no-repeat;
}

.contact-header {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  padding-top: 30px;
  margin-top: 106px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

.contact-text {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"],
[type="email"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: "Poppins", serif;
  outline: none;
}

input[type="text"],
[type="email"]:focus {
  border: 1px solid #1a2236;
}

textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: "Poppins", serif;
  height: 145px;
}

textarea:active {
  border: 1px solid #1a2236;
}

textarea:focus {
  border: 1px solid #1a2236;
}

.footer {
  background-color: #1a2236;
  margin-top: 30px;
  padding: 20px 5px;
}

.resume {
  color: #92dcdc;
  font-family: "Poppins", serif;
  font-size: 1.2rem;
}

.download-icon {
  margin-left: 15px;
  width: 40px;
  height: 35px;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icons {
  display: flex;
  align-items: center;
}

.company-icons {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header-name {
    font-size: 4.5rem;
  }

  #nav-background {
    display: none;
  }

  p {
    font-size: 1.2rem;
  }

  img.desktop-image {
    width: 570px;
    margin-left: 80px;
  }

  .works {
    padding-top: 276px;
    margin-top: 150px;
  }

  .photos {
    width: 470px;
    max-width: 100%;
    height: auto;
  }

  #card-one {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .logo {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    gap: 20px;
    padding-top: 10px;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-link {
    list-style: none;
    padding-right: 20px;
    margin: 16px 0;
  }

  .nav-underline {
    list-style: none;
    padding-right: 20px;
  }

  .nav-underline a {
    color: #1a2236;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    text-decoration-color: #1a2236;
    text-decoration-thickness: 3px;
  }

  .nav-link a {
    text-decoration: none;
    color: #1a2236;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
  }

  .nav-link a:hover {
    text-decoration: underline;
    text-decoration-color: #1a2236;
    text-decoration-thickness: 3px;
  }

  #nav-background {
    display: none;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .hero-text {
    margin-top: 22px;
    margin-left: 160px;
    margin-right: 94px;
    margin-bottom: 292px;
  }

  .header-name {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 60px;
  }

  .button-header {
    align-self: flex-start;
    padding: 25px 34px;
  }

  .pictures {
    float: right;
  }

  .desktop-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 702px;
    height: 877px;
  }

  .dots {
    background-image: url(images/image_dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 175px;
    height: 175px;
    margin-left: -69px;
    top: 616px;
  }

  .works {
    margin-top: 425px;
  }

  .rotate-text {
    position: absolute;
    left: -39px;
    top: 1276px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    transform: rotate(-90deg);
  }

  #card-one {
    position: absolute;
    width: 800px;
    right: -9%;
    top: 1095px;
  }

  .dots-two-wrap {
    display: flex;
    position: relative;
  }

  .dots-two-wrap img {
    width: 800px;
    height: 400px;
  }

  .dots-two {
    background-image: url(images/image_dots.svg);
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: -162px;
  }

  #text-two {
    align-items: left;
    top: -241px;
    display: none;
  }

  #card-two img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 0;
    top: 1661px;
  }

  #card-three {
    width: 800px;
    height: 465px;
    left: 0;
    top: 2095px;
  }

  #text-three {
    display: none;
  }

  #card-three img {
    width: 730px;
    height: 420px;
    left: 0;
    position: absolute;
    top: 1926px;
  }

  #text-extra {
    position: relative;
    align-items: left;
    top: -248px;
  }

  #card-four img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 727px;
    top: 2342px;
  }

  #text-four {
    display: none;
  }

  #card-five {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: -7%;
    top: 1625px;
  }

  #text-five .button-project {
    padding: 22px 13px;
  }

  .shapes {
    background-image: url(images/image-geometry_2-1.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 430px;
    height: 289px;
    right: 473px;
    top: -82px;
  }

  .square {
    background-image: url(images/image-geometry_3.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 435px;
    height: 187px;
    right: 65px;
    margin-left: -54px;
    top: 519px;
  }

  #card-six {
    display: none;
  }

  /* About section */

  .about {
    margin-top: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 80px;
    height: 100vh;
  }

  .about-header {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .details {
    padding-left: 135px;
  }

  .cards {
    width: 289px;
    height: 289px;
    position: relative;
  }

  .background-icon {
    position: absolute;
    left: 186px;
    margin-top: -19px;
  }

  .background-frame {
    position: absolute;
    margin-top: -19px;
    left: 191px;
  }

  .background-bulb {
    position: absolute;
    left: 188px;
    margin-top: -41px;
  }

  .description {
    display: grid;
    grid-template-columns: 300px 300px;
    padding-left: 80px;
  }

  #box-1 {
    margin-left: 21px;
  }

  #box-3 {
    margin-top: -10px;
    margin-left: 21px;
  }

  .dots-last {
    background-image: url(images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 222px;
    height: 222px;
    left: 481px;
    margin-top: 325px;
  }

  .skills-heading {
    font-size: 1.2rem;
  }

  .lists li {
    font-size: 0.9rem;
  }

  /* Contact section style */
  .contact {
    margin-top: 200px;
    background-image: url(images/image-geometry_6.svg);
  }

  .contact-header {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    text-align: center;
    color: #1a2236;
    margin-top: 168px;
    margin-bottom: 40px;
  }

  .contact-text {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1a2236;
    /* text-align: justify; */
    line-height: 21px;
    margin: 20px 400px;
  }

  .input-details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  input[type="text"],
  [type="email"] {
    /* width: 36%; */
    margin-left: 10px;
    font-size: 12px;
    width: 253px;
  }

  textarea {
    width: 520px;
    font-size: 12px;
  }

  .geometry-shapes {
    background-image: url(images/image-geometry_7.svg);
    position: absolute;
    background-size: cover;
    width: 260px;
    height: 260px;
    right: 0;
    margin-top: 454px;
  }

  .button-contact {
    /* width: 35%; */
    margin: 50px auto;
  }

  .resume {
    color: #92dcdc;
  }

  .download-icon {
    margin-left: 20px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1px;
    padding: 50px;
  }
}
