* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

nav {
  display: flex;
}

.logo {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 0;
  top: 0;
}

img.shape-1 {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 37px;
  top: 0;
}

img.shape-2 {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 0;
  top: 0;
}

.icon-menu {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 330px;
  top: 19px;
  background: #fff;
}

.rectangle-1 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  top: 12px;
  background: #000;
}

.rectangle-2 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  top: 6px;
  background: #000;
}

.rectangle-3 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  top: 0;
  background: #000;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: "inherit";
  text-align: left;
  padding-top: 100px;
  margin-right: 90px;
  font-size: 3.5rem;
  color: #1a2236;
}

p {
  margin: 0 15px;
  color: #1a2236;
}

.button {
  color: #fff;
  outline: none;
  background: #1a2236;
  font-family: "inherit";
  font-weight: bold;
  text-align: center;
  padding: 15px 55px;
  border: 1px solid #1a2236;
  margin-top: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  border: 1px solid #1a2236;
  color: #1a2236;
}

.button:focus {
  background-color: transparent;
  border: 2px solid #1a2236;
  color: #1a2236;
}
