* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.section-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  /* margin-bottom: 300px; */
}

nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  background: #fff;
  padding-right: 21px;
  padding-top: 25px;
  cursor: pointer;
}

#nav-background {
  background-image:
    url(images/mobile-menu-1.svg),
    url(images/mobile-img.svg),
    url(images/mobile_menu.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top, 80% 20%, center bottom;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  padding-top: 100px;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  list-style: none;
  padding-right: 20px;
  margin: 20px 0;
}

.nav-underline {
  list-style: none;
  padding-right: 20px;
}

.nav-underline a {
  text-decoration: none;
  color: #1a2236;
  font-size: 1rem;
  font-family: 'Poppins', serif;
  font-weight: 400;
}

.nav-link a {
  text-decoration: none;
  color: #1a2236;
  font-size: 1rem;
  font-family: 'Poppins', serif;
  font-weight: 400;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #1a2236;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 16px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-name {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin: 10px 16px;
  /* margin: 106px 84px 16px 16px; */
}

.header-text {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin: 0 16px 20px 16px;
}

.button {
  color: #fff;
  outline: none;
  width: 80%;
  font-weight: bold;
  text-align: center;
  padding: 15px 30px;
  border: 1px solid #1a2236;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: 16px;
  margin-left: 16px;
  background: linear-gradient(to left, #1a2236 50%, #fff 50%);
  background-position: right top;
  background-size: 200% 100%;
  transition: all ease 0.5s;
}
.btn-a {
  color: #fff;
}

.button:hover, .btn-a:hover {
  background-color: transparent;
  color: #1a2236;
  background-position: left top;
}

.button:focus {
  background-color: transparent;
  border: 2px solid #1a2236;
  color: #1a2236;
  transition: all 0.5s ease-out;
}

.mobile-img {
  width: 100%;
  margin: 30px 16px;
}

.desktop-image {
  display: none;
}

.works {
  margin-top: 50px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.rotate-text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-left: 16px;
  margin-bottom: 60px;
}

.card-wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.9);
}

.photos {
  width: 375px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}


.text {
  background-color: #1a2236;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.about-header {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-top: 56px;
  margin-left: 16px;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

h2 {
  font-family: 'Poppins', serif;
  font-weight: 300;
  text-align: left;
  font-size: 1.5rem;
  margin: 20px 0 20px 18px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

.sub-list {
  background-color: #98dede;
  color: #1a2236;
  padding: 3px 5px;
  border: 1px solid #98dede;
  margin-left: 20px;
}

.button-card {
  border: 2px solid #fff;
  padding: 20px 20px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
  margin-bottom: 18px;
  cursor: pointer;
  width: 212px;
  height: 67px;
}

.button-card:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.button-link {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.button-link:hover {
  background-color: #fff;
  color: #1a2236;
}

.img-btn {
  width: 20px;
  margin-left: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 30px;
}

.cards {
  color: #fff;
  font-weight: bold;
  margin: 10px 10px;
  padding: 50px 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.cards:hover { 
  transform: scale(0.9); 
}

#box-1 {
  background-color: #1c528a;
}

#box-2 {
  background-color: #e2505c;
}

#box-3 {
  background-color: #febf52;
  margin-bottom: 20px;
}

.skills {
  margin-left: 100px;
}

.skills-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.lists {
  padding: 20px 0;
}

.lists li {
  font-size: 1.2rem;
}

.background {
  position: absolute;
  right: 10px;
  margin-top: -46px;
}

.contact {
  background-color: #f9f9fa;
  background-image: url('images/shape-1.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-header {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  padding-top: 30px;
  margin-top: 106px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.contact-text {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.input-details {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

/* form validation */
#error {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'],
[type='email'] {
  width: 288px;
  height: 52px;
  padding: 12px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: 'Poppins', serif;
  outline: none;
}

input[type='text'],
[type='email']:focus {
  border: 1px solid #1a2236;
}

textarea {
  width: 288px;
  height: 112px;
  padding: 12px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: 'Poppins', serif;
}

textarea:active {
  border: 1px solid #1a2236;
}

textarea:focus {
  border: 1px solid #1a2236;
}

.footer {
  background-color: #1a2236;
  margin-top: 30px;
  padding: 20px 5px;
}

.resume {
  color: #92dcdc;
  font-family: 'Poppins', serif;
  font-size: 1.2rem;
}

.download-icon {
  margin-left: 15px;
  width: 40px;
  height: 35px;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icons {
  display: flex;
  align-items: center;
}

.company-icons {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.company-icons:hover {
  transform: scale(1.1);
}

.modal-head {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
  margin: 57px 36px 50px 20px;
}

.modal-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 20px;
}

.modal-sub-list {
  border: 1px solid #1a2236;
  padding: 5px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
  color: #1a2236;
}

.modal-text {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1a2236;
  margin: 20px 18px 20px 11px;
}

.btn-modal-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.btn-modal {
  text-align: center;
  width: 246px;
  height: 51px;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.modal-icon {
  margin-left: 15px;
  width: 24px;
  height: 23px;
}

[data-component='slideshow'] .slide {
  display: none;
}

[data-component='slideshow'] .slide.ready {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    gap: 20px;
    padding-top: 10px;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-link {
    list-style: none;
    padding-right: 20px;
    margin: 16px 0;
  }

  .nav-underline {
    list-style: none;
    padding-right: 20px;
    text-decoration: underline;
    text-decoration-color: #1a2236;
    text-decoration-thickness: 3px;
  }

  .nav-underline a {
    color: #1a2236;
    font-size: 1rem;
    font-family: 'Poppins', serif;
    font-weight: 400;
    text-decoration-color: #1a2236;
    text-decoration-thickness: 3px;
  }

  .nav-link a {
    text-decoration: none;
    color: #1a2236;
    font-size: 1rem;
    font-family: 'Poppins', serif;
    font-weight: 400;
  }

  .nav-link a:hover {
    text-decoration: underline;
    text-decoration-color: #1a2236;
    text-decoration-thickness: 3px;
  }

  #nav-background {
    display: flex;
    position: fixed;
    background: none;
    background-color: rgba(255, 255, 255, 1);
  }

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .hero-text {
    margin: 40px 94px 292px 160px;
  }

  .header-name {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 30px;
  }

  .button {
    align-self: flex-start;
    height: 70px;
    width: 254px;
  }

  .pictures {
    float: right;
  }

  .mobile-img {
    display: none;
  }

  .desktop-image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 570px;
    margin-left: 150px;
  }

  .dots {
    background-image: url(images/image_dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 175px;
    height: 175px;
    margin-left: 87px;
    top: 395px;
  }

  .works {
    position: relative;
  }

  .rotate-text {
    position: absolute;
    left: -80px;
    top: 165px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    transform: rotate(-90deg);
  }

  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    position: relative;
  }

  .card-wrap :first-child {
    grid-column: 2 / -1;
    position: relative;
    /* margin: 0 auto; */
  }

  .dots-two {
    background-image: url(images/image_dots.svg);
    position: absolute;
    top: 0;
    width: 160px;
    height: 160px;
    margin-left: -162px;
  } 

 .photos.img {
  min-width: 900px;
  height: 300px;
 }

 .photos.display {
  height: 180px;
  width: 500px;
 }

 .card-wrap :nth-child(3) {
  grid-column: 3 / -1;
  position: relative;
 }

 .shapes {
  background-image: url(images/image-geometry_2-1.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 250px;
  top: -479px;
  left: -363px;
}

 .card-wrap :nth-child(4) {
  grid-column: 1 / -1;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
  margin-top: -156px;
  position: relative;
 } 

 .square {
  background-image: url(images/image-geometry_3.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 435px;
  height: 187px;
  bottom: 94px;
  right: 0;
}

 .card-wrap :nth-child(5) {
  display: none;
 }

 .card-wrap :nth-child(6) {
  display: none;
 }

 /* .card-wrap :nth-child(2) {
  grid-column: 1 / 1;
  /* grid-column-start: -3; */



  /* .card-wrap img:first-child {
    width: 652px;
  } */

  /* #card-one {
    position: absolute;
    width: 800px;
    right: -9%;
    top: 1095px;
  }

  .dots-two-wrap {
    display: flex;
    position: absolute;
    right: 120px;
    top: -976px;
  }

  .dots-two-wrap img {
    width: 554px;
    height: 330px;
  }

  .dots-two {
    background-image: url(images/image_dots.svg);
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: -162px;
  } */

  /* #text-two {
    text-align: left;
    top: -241px;
    display: none;
  }

  #card-two img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 0;
    bottom: -492px; 
  }

  #card-three {
    width: 800px;
    height: 465px;
    left: 0;
    top: 2095px;
  }

  #text-three {
    display: none;
  }

  #card-three img {
    width: 700px;
    height: 400px;
    left: 0;
    position: absolute;
    top: 1260px;
  }

  #text-extra {
    position: absolute;
    right: 120px;
    top: -865px;
    width: 555px;
  }

  #card-four img {
    position: absolute;
    width: 410px;
    height: 240px;
    /* left: 727px; */
    /* top: 1658px;
    right: 250px;
   
  }

  #text-four {
    display: none;
  }

  #card-five {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: -50px;
    top: 555px;
  }

  #text-five .button-project {
    padding: 22px 13px;
  }

  .shapes {
    background-image: url(images/image-geometry_2-1.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 250px;
    right: 431px;
    top: -82px;
  }

 

  #card-six {
    display: none;
  } */

  /* About section */

  .about {
    margin-top: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 80px;
    height: 100vh;
  }

  .about-header {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .details {
    padding-left: 135px;
  }

  .cards {
    width: 289px;
    height: 289px;
    position: relative;
  }

  .background-icon {
    position: absolute;
    left: 186px;
    margin-top: -19px;
  }

  .background-frame {
    position: absolute;
    margin-top: -19px;
    left: 191px;
  }

  .background-bulb {
    position: absolute;
    left: 188px;
    margin-top: -41px;
  }

  .description {
    display: grid;
    grid-template-columns: 300px 300px;
    padding-left: 80px;
    position: relative;
  }

  #box-1 {
    margin-left: 21px;
  }

  #box-3 {
    margin-top: -10px;
    margin-left: 21px;
  }

  .dots-last {
    background-image: url(images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 222px;
    height: 222px;
    bottom: 0;
    right: 0;
  }

  .skills-heading {
    font-size: 1.2rem;
  }

  .lists li {
    font-size: 0.9rem;
  }

  /* Contact section style */
  .contact {
    margin-top: 200px;
    background-image: url(images/image-geometry_6.svg);
    position: relative;
  }

  .contact-header {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.8rem;
    text-align: center;
    color: #1a2236;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .contact-text {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1a2236;
    line-height: 21px;
    margin: 20px 200px;
  }

  .input-details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
  }

  input[type='text'],
  [type='email'] {
    /* width: 36%; */
    margin-left: 10px;
    font-size: 12px;
    width: 253px;
  }

  textarea {
    width: 520px;
    font-size: 12px;
  }

  .geometry-shapes {
    background-image: url(images/image-geometry_7.svg);
    position: absolute;
    background-size: cover;
    width: 260px;
    height: 260px;
    right: 0;
    bottom: 0;
  }

  .button-contact {
    /* width: 35%; */
    margin: 50px auto;
  }

  .resume {
    color: #92dcdc;
  }

  .download-icon {
    margin-left: 20px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1px;
    padding: 50px;
  }
}
